body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 50px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}

h3 {
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}

h4 {
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: left;
}

h5 {
    font-family: Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}

p {
    padding-left: 50px;
    padding-right: 50px;
    font-family: Helvetica;
    font-size: 20px;
    color: black;
    text-align: justify;
}

li { 
    font-family: Helvetica;
    font-size: 20px;
    color: black;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightslategrey;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: khaki;
}

.active {
     background-color: khaki;
}

table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.table_heading {
    color:blueviolet;
}

thead {
    background-color: palevioletred;
}

td {
    text-align: left;
    border: 1px solid black;
}

header {
    border-bottom: 0px solid black;
    padding: 15px;
    background-color: lightslategray;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/94/Eftersommar_Hilma_af_Klint_1903.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    border-top: 0px solid black;
    padding: 15px;
    background-color: lightslategray;
}

footer p {
     font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: white;
    padding: 0;
}